/wp/
/wp-config.php
/wp-content/uploads
/wp-content/upgrade
/wp-content/backups
/wp-content/themes/twenty*
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/plugins/algolia
/sitemap.xml
/sitemap.xml.gz
/.htaccess
.DS_Store
.sass-cache
*.idea
*.log

# Development plugins
kint-debugger
/vendor
vendor
/xhgui

# Servebolt infrastructure:
/.bash_history
/.bash_profile
/.composer/
/.gitconfig
/.mysql_history
/.ssh/
/.viminfo
/composer.phar
/logs/
/pagespeed-cache/
/wp-cli.phar
/.dbdump
/.htaccess
/.lesshst
/.vim
/.vimrc
/private

# Composer plugins
/wp-content/plugins/wordpress-nginx-fullpage-cache/
/wp-content/plugins/algolia/
/wp-content/plugins/craft-improved-checkout/
/wp-content/plugins/driv-modal-add-to-cart/
/wp-content/themes/drivkraft-theme/
/wp-content/plugins/woocommerce-gateway-klarna/
/wp-content/plugins/campaign-monitor-for-woocommerce/
/wp-content/plugins/yotpo-social-reviews-for-woocommerce/
/wp-content/plugins/bring-fraktguiden-for-woocommerce/
/wp-content/plugins/wordpress-seo/
/wp-content/plugins/metrilo-woocommerce-integration/
