$today : #4caf50;
$friday: #f44336;
$pay   : #3f51b5;
$over  : #ff9800;

$highlight: #ff3333;
$shadow: #0044ff;

* {
  box-sizing: border-box;
}

body {
  background-color: #ececec;
  font-size: 18px;
  line-height: 1.4;
  padding: 1rem 0;
}

header.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80rem;
  margin: 0 auto 1rem;
  font-size: 0.8rem;

  strong{ float: left; }
  span {
    display: inline;
    text-align: right; }
    a.logout { color: $shadow; }
}

footer.footer {
  align-items: center;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax( 50%, 1fr ) );
  max-width: 80rem;
  border-top: 1px solid #eee;
  padding: 1rem 2rem;

  strong {
    text-align: left;
    justify-content: start;
    & + strong {
      text-align: right;
      justify-content: end;
    }
  }
}

.track {
  display: grid;
  margin: 0 auto;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: white;
}

header.meta {
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;

  .week {
    font-size: 1.5rem;
    text-align: center;
    small{
      font-size: 0.9rem;
      line-height: 1.4;
      display: block;
      padding: 0;
      font-weight: 400;
    }
  }

  a.prev,
  a.next {
    color: white;
    text-align: center;
    background-color: $today;

    // Large buttons
    margin: 0;
    border-radius: 0;
    vertical-align: middle;
    line-height: 1.4;
    padding: 2rem 0;
    margin-top: -1rem;
    margin-bottom: -1rem;

    &:hover {
      background-color: darken( $shadow, 10% );
    }

    small {
      display: block;
      font-weight: 300;
    }

  }
}

th.cutoff {
  background-color: Red;
  color: white;
}

table {
  width: 100%;
  text-align: left;
  @media ( min-width: 50em ) {
    padding: 1rem 2rem 2rem;

    td, th {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;
    }

    th:first-child{
      padding-right: 1rem;
    }
  }

  tbody th,
  th.day {
    text-transform: capitalize;
    white-space: nowrap;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.4;
    small { display: block; }
    @media ( min-width: 50em ) {
      font-size: 1.1rem;
    }
  }


  th.summary{
    text-align: right;
  }


  tr.finish{
    th, td {
      padding-bottom: 1rem;
    }
  }

  th small {
    font-weight: 400;
    border-top: 1px solid;
  }

  tfoot th {
    padding-top: 2rem;
  }
}


input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 0.9rem;
  @media ( min-width: 50em ) {
    font-size: 1.1rem;
    padding: 0.5rem;
  }



  &::placeholder{
    opacity: 0.1;
  }

  &[readonly]{
    &.overtime {
      border-color: fade-out( $highlight, 0.5 );
      color: $highlight;
    }
  }

  &.earnt{
    color: $shadow;
    border: none;
    text-align: right;
    opacity: 1;
  }
}


.view-all,
[type="submit"],
a.prev,
a.next {
  font-weight: 400;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  color: white;
  background-color: $highlight;
  border: none;
  display: inline-block;
  text-decoration: none;
  float: left;
  margin-left: 1rem;
  &:first-child{ margin-left: 0; }
}

input[type="submit"] {
  background-color: darken( $highlight, 25% );
  float: right;
  width: auto;
  padding: 0 1rem;
  line-height: 2;
}


footer strong {
  &.hours-this-week{ padding-right: 1rem; }
  &.overtime-this-week{ color: $highlight; }
  font-weight: 400;
  span {
    font-weight: 600;
    border: 1px solid #ddd;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
  }
}

// Labels
th.overtime,
th.payday,
th.lastfriday,
th.today {
  position: relative;
  &::before {
    content: attr( data-notice );
    background-color: red;
    color: white;
    white-space: nowrap;
    padding: 0.25rem;
    border-radius: 2px;
    font-size: 0.6rem;
    font-weight: 400;
    position: absolute;
    top: -1rem;
    left: 0.5rem;
  }
}

th.today::before      { background-color: $today; }
th.lastfriday::before { background-color: $friday; }
th.payday::before     { background-color: $pay; }
th.overtime::before   { background-color: $over; }

th.today      { color: darken( $today, 10% ); }
th.lastfriday { color: darken( $friday, 10% ); }
th.payday     { color: darken( $pay, 10% ); }
th.overtime   { color: darken( $over, 10% ); }


// Debug

#debug{
  display: none;
  max-width: 40em;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  &:target {
    display: block;
  }
}